name: Lint 

on:
  push:
    branches:
      - main

# env: 
#   NODE_VERSION: 18

jobs:
  linting:
    name: Linting 
    runs-on: ubuntu-latest

    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm ci

      - name: Code Linting
        run: npm run lint
